@import "../../../styles/colors";
@import "../../../styles/fonts";

.formStep {
  margin-left: 142px;
  font-family: $font-base;

  .stepCounter {
    margin-top: 36px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 70px;
    color: $main-text-color;
  }

  .title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
    color: black;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .label {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 300;
      color: black;
    }

    .radio {
      appearance: none; // Remove default style of checkbox
      -moz-appearance: none; // For Firefox
      -webkit-appearance: none; // For Safari and Chrome

      margin-right: 30px;
      width: 40px;
      height: 40px;
      border: 0.75px solid $main-text-color;
      vertical-align: middle;
      position: relative;

      background-color: transparent;

      // Style for checked state
      &:checked {
        background-color: $color-yellow;
      }

      &:checked:before {
        content: "";
      }
    }
  }
}
.button {
  font-family: $font-base;
  font-size: 24px;
  font-weight: 300;
  margin-top: 107px;
  height: 80px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.75px solid $main-text-color;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:disabled {
    color: $main-text-color;
    cursor: not-allowed;
  }

  &:hover {
    scale: 1.1;
  }
}
