@import "src/styles/_colors.scss";
@import "src/styles/_fonts.scss";

.helpSection {
  font-family: $font-base;
  color: $main-text-color;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 71%;

  .helpSectionTitle {
    text-align: center;
    margin-bottom: 50px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 750px;

    .tab {
      font-family: $font-base;
      background-color: transparent;
      border: none;
      outline: none;
      color: $main-text-color;
      text-align: center;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 24px;
      transition: color 0.3s, border 0.3s;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {
        color: $main-text-color;
        border: 0.75px solid $main-text-color;
      }
    }
  }

  .description {
    width: 50%;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 610px;
    margin-bottom: 65px;
    font-size: 22px;
  }

  .items {
    list-style: none;
    padding: 0;
    font-family: $font-alt;

    .item {
      margin-bottom: 20px;

      .itemTitle {
        font-size: 26px;
        margin-bottom: 10px;
        font-weight: 300;
      }

      .itemWrapper {
        display: flex;
        justify-content: space-between;

        .itemDetail {
          font-size: 18px;
          font-style: italic;
          font-weight: 300;
          margin-right: 20px;
        }

        .itemContents {
          font-size: 18px;
          font-weight: 300;
        }
      }

      .divider {
        border: 0;
        height: 1px;
        background: $main-text-color;
        margin-top: 20px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 63px;

    button {
      background: none;
      border: transparent;
      margin: 0 20px 0 0;
      height: 50px;
      width: 40px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      font-family: $font-base;

      &:hover,
      &.activePage {
        border: 1px solid #707070;
      }
    }
  }
}
