// components/Home/HomeThreeColumns/HomeThreeColumns.module.scss
@import "../../../styles/colors"; // Import your color variables
@import "../../../styles/fonts"; // Import your font variables

.threeColumnsContainerWrapper {
  background: url("../../../assets/3columnsBackground.png") no-repeat center
    center;
  background-size: cover; // Ensure the background covers the entire container
  margin-bottom: 55px;

  .threeColumnsContainer {
    padding: 46px 0 86px 0;
    display: flex;
    justify-content: space-around; // This will space your columns evenly
    text-align: center; // Center text for all columns
    width: 100%;

    .column {
      width: 25%; // Adjust the width calculation as needed
      display: flex; // Use flex to center content vertically and horizontally
      flex-direction: column; // Stack the content vertically
      justify-content: center; // Center content vertically
      align-items: center; // Center content horizontally

      .number {
        font-size: 90px; // Example size, adjust as needed
        font-weight: light; // Bold font for the number
        color: $color-text-secondary; // Use a dark color variable for text
        margin-bottom: 1rem; // Space between the number and title
      }

      .title {
        font-size: 18px; // Example size, adjust as needed
        color: $main-text-color; // Use a dark color variable for text
        text-transform: uppercase; // Uppercase title
        margin-bottom: 1rem; // Space between the title and description
      }

      .description {
        font-size: 16px; // Example size, adjust as needed
        color: $main-text-color; // Use a dark color variable for text
        font-family: $font-alt;
        font-weight: 300;
      }
    }
  }
}
